= form_tag order_items_path, method: :put do
  = render @presenter.items
  .col-xs-12
    %div.pull-right
      - if @presenter.coupon?
        %p
          %span= t(:discount)
          = @presenter.discount
      %p
        %span= t(:subtotal)
        = @presenter.sub_total
  .row
    .col-xs-12
      .col-xs-5
        = @presenter.empty_cart_link
        = @presenter.continue_shopping_link
      .col-xs-7
        .pull-right
          - unless @presenter.coupon?
            = text_field_tag :coupon, nil, class: 'input-sm form-control coupon', placeholder: t(:coupon_code)
          = submit_tag t(:update), class: 'btn btn-sm btn-default'
          = link_to t(:checkout), addresses_order_path(@order), class: 'btn btn-sm btn-primary', "data-no-turbolink": true