%ul
  %li
    = link_to 'Books', main_app.books_path
  %li
    = link_to 'Magazines', main_app.magazines_path
  - if user_signed_in?
    %li
      %a{ href: shopping_cart.edit_order_items_path }
        %span= basket_items(@order.try(:decorate))
    %li= link_to t(:sign_out), main_app.destroy_user_session_path, method: :delete
  - else
    %li= link_to t(:sign_in), main_app.new_user_session_path
    %li= link_to t(:sign_up), main_app.new_user_registration_path
