.col-xs-12.book-add
  = form_tag shopping_cart.add_order_items_path, method: :post, id: 'add_book', class: 'add-book-form' do
    .col-xs-3.price-text
      =label_tag :quantity, book.price, class: 'control-label price-book'
    .col-xs-3
      = number_field_tag :quantity, '1', { min: 1, class: 'form-control' }
    = hidden_field_tag :book_id, book.id
    = hidden_field_tag :price, book.price
    .col-xs-6
      = submit_tag t(:add_to_cart), class: 'btn btn-default'