.col-xs-12.order-item-history
  .col-xs-7.item
    .col-xs-2
      %img.img-rounded.center-block{ src: order_item.book.image.order.url }
    .col-xs-10
      %p= order_item.book.title
      %p= order_item.book.short_desc.truncate(100)
  .col-xs-5.item
    .col-xs-4.text-center
      %span.price= order_item.currency_price
    .col-xs-3.text-center
      %span= order_item.quantity
    .col-xs-4.text-center
      %span.total= order_item.price_total