.confirm-inner
  %h4= t(type).humanize
  %p= @confirm_presenter.name(type)
  %p= @confirm_presenter.street(type)
  %p= @confirm_presenter.city(type)
  %p= @confirm_presenter.country(type)
  %p= @confirm_presenter.phone(type)