- content_for :checkout do
  = render 'header'

= form_tag delivery_order_path, method: :put do
  = collection_radio_buttons(:delivery, :delivery_id, @delivery_presenter.deliveries, :id, :delivery_title, checked: (@delivery_presenter.checked)) do |b|
    = content_tag :div, class: 'form-group' do
      = b.label(class: 'control-label') { b.radio_button(data: b.object.price, class: 'radio_button') + b.text }
  %h4.text-center= t(:order_summary)
  %p{data: @presenter.order.sub_total_price, class: 'sub-total'}= t(:item_total, sub_total: @presenter.sub_total)
  %p
    = t(:shipping)
    %span.shipping
  %p
    = t(:order_total)
    %span.total
  = submit_tag t(:save_and_continue)